.select2 .select2-selection {
    height: 40px;
    display: block;
}

.select2 .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%);
}

.select2 .select2-selection__choice {
    background-color: #007bff !important;
    border-color: #007bff !important;
    color: white !important;
}

.select2 .select2-selection__choice__remove {
    color: white !important;
    padding: 0 8px !important;
    margin: 0 !important;
}

.select2 .select2-selection__choice__remove:hover {
    background-color: transparent !important;
}

.select2 .select2-selection__choice__display {
    padding: 0 8px !important;
}

.select2 .select2-search__field:focus {
    border: 0 !important;
    margin-top: 10px;
}
